.termsContainer{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: center;

}

.inputContainer{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.terms{
    color: blue;
    cursor: pointer;
}

.error{
    color: red;
}

