.formSearch{
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
    min-width: 50%;
}   


.formSearch > input[type="text"]{
    border: none;
    flex: 3;
    padding: 8px 10px;
    border-radius: 10px 0 0 10px;
    outline: none;
    font-size: 1rem;
    background-color: #524644;
    color: #fff;
}


.formSearch > input[type="submit"]{
    border: none;
    background-color: #322528;
    color: #fff;
    flex: 1;
    font-weight: 500;
    padding: 8px 10px;
    font-size: 1rem;
    transition: all .3s;
    border-radius: 0 10px 10px 0;
}

.formSearch > input[type="submit"]:hover{
    background-color: #322528ec;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .formSearch{
        width: 100%;
        gap: 0;
    }

    .formSearch > input[type="text"]{
        border: none;
        flex: 2;
        font-size: 1em;
        width: 80%;
        outline: none;
        padding: 8px;
        background-color: #524644;
        color: #fff;
    }

    .formSearch > input[type="submit"]{
        flex: 1;
        font-weight: 500;
        width: 20%;
        padding: 8px;
        font-size: 1em;
        transition: all .3s;
    }
    

  
  }