.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;


}

.label {
    font-weight: medium;
    font-size: 16px;
    color: #161616;
}

.textarea {
    resize: vertical;
    padding: 1rem;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    background-color: #191b1928;
}

.input::placeholder {
    color: #3a4a3f45;
}

.error{
    color: red;
}