.card{
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    gap: 10px;
}

.imgContainer{
    display: flex;
    align-items: center;
    justify-self: center;
    max-width: 25%;
}

.imgContainer img{
    max-width: 100px;
    height: auto;
    object-fit: contain;
}

.details{
    max-width: 50%;
}

.details p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actionsContainer{
    max-width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actionsContainer button{
    border-radius: 10px;
    border: none;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

@media screen and (min-width: 767px) {
    .card{
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1265px) {
    .card{
        width: 80%;
    }
  }