

.userContainer{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.imgContainer{
    width: 2rem;
    height: 2rem;
}

.imgContainer img{
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
}

.userContainer span{
    font-weight: 600;
}

.userAnswer{
    margin-left: auto;
  
    width: calc(100% - 2.5rem);
}

