.editAccountContainer {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  
 
  
 

  .textareaContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .textareaContainer label{
    font-weight: medium;
    font-size: 16px;
    color: #161616;
  }

  .textareaContainer textarea{
    border: none;
    min-height: 5rem;
    resize: vertical;
    padding: 1rem;
    background-color: #191b1928;
    border-radius: 10px;
  }

  
  @media screen and (max-width: 767px) {
    .editAccountContainer {
        margin: 1rem auto;
        height: auto;
        padding-bottom: 4.5rem;
    }
  }
  