.forumContainer{
    width: calc(100% - 15rem);
    padding-bottom: 4.5rem;

    
}

.selectSection {
    background-color: #fff;
    margin: 1rem auto;
    width: 80%;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
  }
  
  .selectSection a {
    padding: 10px 0;
    color: #000;
    width: 50%;
    text-align: center;
  }
  
  .active {
    border-top: 4px solid #000000;
  }

  .forumContent{
    margin: 0 auto;
    width: 80%;
  }

@media screen and (max-width: 767px) {
    .forumContainer{
        width: 100%;
        
    }   
}